<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">

    <navigation>
        <% include ./partials/navigation %>
    </navigation>

    <% posts.forEach(function(post) { %>
        <div class="card" style="margin-top: 1rem;">
            <div class="card-body">
              <h5 class="card-title"><%= post.name %></h5>
              <p class="card-text">By <a href="/author/<%= post.user %>"><%= post.author %></a> | <%= post.createdAt %> </p>
              <p class="card-text"><%= post.description %></p>
            </div>
            <div class="card-body">
              <a href="/post/<%= post.id %>" class="card-link btn btn-info" role="button">Details</a>
            </div>
          </div>
    <% }) %>

    <% if (posts.length == 0) { %>
        <div class="jumbotron">
            <h3>There are no posts</h1>
        </div
    <% } else { %>    
        <nav aria-label="Page navigation example" style="margin-top: 1rem;">
            <ul class="pagination justify-content-center">
              <% if (pages.previous != null) { %>
              <li class="page-item"><a class="page-link" href="/page/<%= pages.previous %>">Previous</a></li>
              <li class="page-item"><a class="page-link" href="/page/<%= pages.previous %>"><%= pages.previous %></a></li>
              <% } %>
              <li class="page-item active"><a class="page-link" href="#"><%= pages.current %></a></li>
              <% if (pages.next != null) { %>
              <li class="page-item"><a class="page-link" href="/page/<%= pages.next %>"><%= pages.next %></a></li>
              <li class="page-item"><a class="page-link" href="/page/<%= pages.next %>">Next</a></li>
              <% } %>
            </ul>
        </nav>
    <% } %>

</body>

</html>