<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container" style="width: 50%;">

    <navigation>
        <% include ./partials/navigation %>
    </navigation>

    <% 
        var access = typeof access !== 'undefined' ? access : false
    %>

    <div class="card" style="margin-top: 1rem;">
        <div class="card-header bg-transparent">
          <h5 class="card-title"><%= post.name %></h5>
          <p class="card-text">By <a href="/author/<%= post.user %>"><%= post.author %></a> | <%= post.createdAt %> </p>
          <p class="card-text"><%= post.description %></p>
        </div>
        <div class="card-body">
            <p class="card-text"><%- post.text %></p>
        </div>
        <% if (access === true) { %>
        <div class="card-footer bg-transparent">
          <a href="/post/<%= post.id %>/edit" class="card-link btn btn-info" role="button">Edit</a>
          <a href="/post/<%= post.id %>/delete" class="card-link btn btn-danger" role="button">Delete</a>
        </div>
        <% } %>
    </div>

</body>

</html>